# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Specific to this project
categories.csv
# Browser drivers for selenium webdriver
drivers/
gradle
.idea
